@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  src: local('Caveat'),
       local('Caveat'),
       url(../fonts/caveat-regular.woff) format('woff'),
       url(../fonts/caveat-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Caveat';
  font-weight: 700;
  src: local('Caveat Bold'),
       local('CaveatBold'),
       url(../fonts/caveat-700.woff) format('woff'),
       url(../fonts/caveat-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat'),
       local('Montserrat'),
       url(../fonts/montserrat-regular.woff) format('woff'),
       url(../fonts/montserrat-regular.woff2) format('woff2');
}
