$font-back: 'Arial', sans-serif;
$font-primary: 'Caveat', $font-back;
$font-secondary: 'Montserrat', $font-back;

$primary-color: #413b41;
$secondary-color: #f6f2ec;
$third-color: #a25063;

$M: 600px;
$L: 1200px;
