.descriptions {
  @include clear-list;
  margin-bottom: 30px;

  &__item {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include MQ(L) {
  .descriptions {
    margin-right: 30px;
  }
}
