.descriptions {
  @include clear-list;
  margin-bottom: 30px;

  &__item {
    margin-bottom: 25px;
  }

  &__text {
    @include font(16px, 22px);
    margin-top: 0;
    margin-bottom: 0;
  }

  &__name {
    font-family: $font-secondary;
    color: $third-color;
  }
}

@include MQ(L) {
  .descriptions {
    margin-right: 30px;
  }
}
