.page-header {
  width: 100%;
  overflow: hidden;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

@include MQ(M) {
  .page-header {
    width: 100%;
    max-width: 923px;
    overflow: hidden;

    background-color: $primary-color;
  }
}

@include MQ(L) {
  .page-header {
    width: 92.3%;
    max-width: 1200px;
  }
}
