.page-footer {
  width: 100%;

  background-color: $primary-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .35);
}

@include MQ(M) {
  .page-footer {
    box-sizing: border-box;
    display: flex;
    max-width: 923px;
    min-height: 70px;
    padding-right: 6.25%;
    padding-left: 6.25%;
  }
}

@include MQ(L) {
  .page-footer {
    width: 92.3%;
    max-width: 1200px;
  }
}
