.portfolio {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .35);
}

@include MQ(M) {
  .portfolio {
    display: flex;
    justify-content: center;
    width: 923px;
  }
}

@include MQ(L) {
  .portfolio {
    display: flex;
    width: 92.3%;
    max-width: 1200px;
  }
}
