.skills {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;

  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .35);

  &__title {
    @include font-set(700, 40px, 40px);

    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
  }

  &__list {
    @include font(18px, 22px);

    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@include MQ(M) {
  .skills {
    width: 100%;
    max-width: 923px;

    &__title {
      @include font-set(700, 60px, 60px);

      margin-bottom: 50px;
    }

    &__list {
      @include font(22px, 34px);
    }
  }
}

@include MQ(L) {
  .skills {
    display: flex;
    flex-direction: column;
    width: 92.3%;
    max-width: 1200px;
  }
}
