.social {
  display: flex;
  align-items: center;
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 50%;

  transform: translateX(-50%);

  &__link {
    margin-top: 7px;
    margin-right: 25px;
    margin-bottom: 8px;
    margin-left: 25px;

    font-size: 0;
  }
}
