.works {
  position: relative;

  margin-top: 20px;

  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparentize($primary-color, .8);

  &__title {
    @include font(30px, 30px);
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
  }

  &__list {
    @include clear-list;
  }

  &__item {
    box-sizing: border-box;
    min-height: 60px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: transparentize($third-color, .8);
    border-width: 1px;
    border-style: solid;
    border-color: transparentize($primary-color, .6);
    border-radius: 5px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__name {
    @include font(16px, 18px);
    margin: 0;

    font-family: $font-secondary;

    & span {
      @include font(18px, 18px);
      font-family: $font-primary;
      color: $third-color;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    flex-grow: 1;
    min-width: 130px;
    margin-right: 10px;
    margin-left: 10px;

    &--description {
      min-width: 80px;
    }
  }
}

@include MQ(M) {
  .works {
    display: flex;
    flex-direction: column;
    width: 62.5%;
    margin-top: 0;

    &__title {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    &__item {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }

    &__name {
      margin-right: 50px;
    }
  }
}

@include MQ(L) {
  .works {
    margin-right: auto;

    &__title {
      @include font(48px, 48px);
      margin-bottom: 35px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &__name {
      margin-right: 30px;
    }

    &__wrap {
      display: block;
    }

    &__btn {
      min-width: 165px;
      margin-right: 0px;
      margin-left: 0px;

      &--description {
        display: none;
      }
    }
  }
}
